
.kirish{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}
.kirish a{
    color: #0060aa;
}

.navbar{
    background-color: #0060aa;
}

.boglanish{
    cursor: pointer;
}


.card{
    transition: all 0.5s linear;
}

.card:hover{
    box-shadow: 0px 0px 10px #aaa;
}